<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ammar WebApplication</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="app/controllers/MainCtrl.js"></script>
    <script>src="app/design.css"</script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body ng-app="ammarApp">
<div ng-controller="MainCtrl">
    <div id="search">
        <h3>Search for entry</h3>
        <label>Name:</label>
        <input type="text" ng-model="name" placeholder="Enter a name here">
    </div>
    <hr>

    <div>

        <form name="enter" ng-submit="">
            <button type="button" ng-click="toAdd = !toAdd;">Add New Entry </button> <br>
            <div>
                <input type="text" name="a" ng-model="customer" placeholder="Enter customer name" ng-show="toAdd" required>
                <span ng-show="enter.a.$error.required && enter.a.$dirty">Please enter the customer name</span> <br>
            </div>

            <div>
                <input type="date" name="b" ng-model="order" placeholder="Enter the order date" ng-show="toAdd" required>
                <span ng-show="enter.b.$error.required && enter.b.$dirty">Please enter the order date</span>
                <span ng-show="enter.b.$error.date && enter.b.$dirty">Please enter in a date format</span><br>
            </div>

            <div>
                <input type="date" name="c" ng-model="delivery"  placeholder="Enter the delivery date" ng-show="toAdd" required>
                <span ng-show="enter.c.$error.required && enter.c.$dirty">Please enter the delivery date</span>
                <span ng-show="enter.c.$error.date && enter.c.$dirty">Please enter in a date format</span><br>
            </div>

            <div>
                <input type="number" min="0" step="1" name="d" ng-model="number" placeholder="Enter the order number" ng-show="toAdd" required>
                <span ng-show="enter.d.$error.required && enter.d.$dirty">Please enter the order number</span>
                <span ng-show="enter.d.$error.number">Please enter a numerical value </span><br>
            </div>

            <div>

                <input type="number" min="0" step="1" name="e" ng-model="id" placeholder="Enter salesman's ID" ng-show="toAdd" required>
                <span ng-show="enter.e.$error.required && enter.e.$dirty">Please enter the Salesman's ID number</span>
                <span ng-show="enter.e.$error.number">Please enter a numerical value</span><br>



            </div>

            <div>
                <input list="currentStat" name="dropdown box" ng-model="currentStatus" placeholder="Status" ng-show="toAdd" required>
                <datalist id="currentStat" >
                    <option value="Open" ng-click="currentStatus = Open">
                    <option value="Closed" ng-click="currentStatus = Closed">
                    <option value="Idle" ng-click="currentStatus = Idle">
                    <option value ="Unavailable" ng-click = "currentStatus = Unavailable">
                </datalist>
            </div>



            <button  ng-disabled="enter.$invalid" ng-show="toAdd"
                     ng-click="toAdd = !toAdd;
                    addSalesOrder();
                    enter.a.$dirty=false;
                    enter.b.$dirty=false;
                    enter.c.$dirty=false;
                    enter.d.$dirty=false;
                    enter.e.$dirty=false;
                    " id="submit">Submit</button> <br> <hr>


        </form>
        <table border="1px border-color:solid blue">
            <th></th>
            <th>Entry</th>
            <th>
                <a href="#" ng-click="predicate = 'customerName'; reverse = !reverse;">Customer Name
                    <span class="sortorder fa fa-caret-up" ng-show="predicate == 'customerName' && reverse"></span>
                    <span class="sortorder fa fa-caret-down" ng-show="predicate == 'customerName' && !reverse" ></span>
                </a> <!-- allows reverse order -->
            </th>
            <th>
                <a href="#" ng-click="predicate='orderDate'; reverse = !reverse">Order Date
                <span class="fa fa-caret-up" ng-show="predicate == 'orderDate' && reverse"></span>
                <span class="fa fa-caret-down" ng-show="predicate == 'orderDate' && !reverse"></span>
                </a>
            </th>
            <th>Delivery Date</th>
            <th>Order Number</th>
            <th>Salesman's ID</th>
            <th>status</th>
            <tr ng-repeat="sales in salesOrderHeader | orderBy: predicate:reverse|filter:name">
                <td><button  ng-click="removeSaleOrder(sales)" id="remove">X</button></td>
                <td>{{$index+1}}</td>
                <td>{{sales.customerName}}</td>
                <td>{{sales.orderDate | date:'fullDate'}}</td>
                <td>{{sales.deliveryDate | date:'fullDate'}}</td>
                <td>{{sales.orderNumber}}</td>
                <td>{{sales.salesmanID}}</td>
                <td>{{sales.status}}</td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>