input.ng-invalid.ng-dirty.ng-not-empty{
    border:3px solid red;
}
span.success.ng-valid{
    border:1px solid green;
}
body{
    background-color: rgba(255, 231, 170, 0.55);
}

button{
    padding: 10px 12px;
    background: #ffa94c;
    color: #fffbf7;
}
button.ng-invalid{
    padding: 10px 12px;
    background: #d9e3ff;
    color: #fffbf7;
}
#remove{
    padding: 5px 7px;
    background: #ba1522;
    color: #fffbf7;
}

td:hover{
    background-color: #94e5ff;
}

table{
    background-color: #a2d7f8;
    border-color: #4ee120;
}